footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    text-align: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 10px;
}

.footer-links li a {
    color: white;
    text-decoration: none;
}

.footer-gallery {
    overflow: hidden;
    white-space: nowrap;
}

.footer-gallery img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Adjust spacing between images */
    animation: slideLeft 10s infinite linear; /* Adjust animation duration */
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

body {
            background: #FCC;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .fab {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .nav-menu {
            display: none;
            position: fixed;
            bottom: 90px;
            right: 20px;
            background: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 5px;
            padding: 10px;
        }
        .nav-menu a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }
        .navbar-brand {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }